@font-face {
    font-family: 'LibreCalson';
    src: url(assets/fonts/LibreCaslonText-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LibreCalson';
    src: url(assets/fonts/LibreCaslonText-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LibreCalson';
    src: url(assets/fonts/LibreCaslonText-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Chiller';
    src: url(assets/fonts/chiller_regular.ttf);
}

button {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    outline: none;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}

header {
    width: 100vw;
    height: 5vh;
    background-color: rebeccapurple;
}
footer {
    width: 100vw;
    height: 5vh;
    background-color: blue;
}

main {
    width: 100vw;
    height: 90vh;
}
section {
    width: inherit;
    height: inherit;
    display: none;
}
.char-creation {
    user-select: none;
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(assets/backgrounds/char-creation.jpg);
    background-size: contain;
    font-family: 'Chiller', serif;
    font-size: 177px;
    letter-spacing: 2px;
    line-height: 130px;
    font-weight: 400;
    color: #d2672e;
    text-shadow: 4px 4px 6px black;

    padding: 8vw 7.9vw;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    transition: all 2.8s linear;
}
.char-creation input {
    width: 725px;
    height: 123px;
    padding: 22px 22px 30px;
    background-color: #d2672e;
    
    font-family: 'Forum', serif;
    font-size: 80px;
    font-weight: 500;
    color: #3E2723;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);

    mask-image: url(assets/icons/char-name-input-msk.png);
    outline: none;
    border: none;
}

.char-creation button {
    width: 341px;
    height: 123px;
    background-color: #2d250e;
    
    font-family: 'Chiller', serif;
    font-size: 80px;
    letter-spacing: 2px;
    color: #ffb891;
    mask-image: url(assets/icons/char-name-button-msk.png);
    margin-left: 255px;
    cursor: pointer;
}
.char-creation button:active {
    transform: scale(.9);
    filter: brightness(.5);
}
.char-creation-bg-music {
    display: none;
}
.van-sound {
    width: 478px;
    height: 876px;
    position: fixed;
    bottom: 0;
    right: 447px;
    filter: opacity(0);
    cursor: pointer;
}
